@model IEnumerable<jdean_budgeter.Models.CodeFirst.BankAccount>
@using Microsoft.AspNet.Identity
@using System.Security.Claims
@using jdean_budgeter.Models.Helpers;

@*<div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@
<link href="~/assets/lib/datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading panel-heading-color panel-heading-color-primary">
                <div class="tools"><span class="icon s7-camera"></span></div>
                <span class="title">Account Snapshot</span>
            </div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Account</th>
                            <th>Balance</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var account in Model)
                        {
                            <tr>
                                <td>@account.Name</td>
                                <td>$@account.Balance</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @*<div class="earnings-chart">
                    <div id="earnings-chart" style="height: 156px;"></div>
                </div>*@
        </div>
    </div>
    <div class="col-md-3">
        <div class="usage usage-dark">
            <div class="usage-head">
                <span class="usage-head-title">Expenses</span>

                <div class="usage-head-tools">@*<span class="icon s7-refresh-2"></span>*@</div>
            </div>
            <div class="usage-resume">
                <div class="usage-data"><span style="font-size:24px">$@ViewBag.Expenses</span><span data-toggle="counter" data-end="73.6" data-decimals="1" data-suffix="%" class="usage-counter"></span><span class="usage-title">Total Expenses</span><span class="usage-detail"></span></div>
                <div class="usage-icon"><span class="icon s7-cash"></span></div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="usage usage-primary">
            <div class="usage-head">
                <span class="usage-head-title">Income</span>
                <div class="usage-head-tools">@*<span class="icon s7-refresh-2"></span>*@</div>
            </div>
            <div class="usage-resume">
                <div class="usage-data"><span style="font-size:24px">$@ViewBag.Incomes</span><span data-toggle="counter" data-end="33.9" data-decimals="1" data-suffix="%" class="usage-counter"></span><span class="usage-title">Total Income</span><span class="usage-detail"></span></div>
                <div class="usage-icon"><span class="icon s7-graph1"></span></div>
            </div>
        </div>
    </div>
    @*<div class="col-md-4">
     

        <p>
           
            <a class="btn btn-default" href="@Url.Action("CreateHouseholdMember","Account")">Create</a>
        </p>
    </div>*@

</div>
<div class="row well">
    <div id="SampleChart" style="height:250px"></div>
    </div>





@section scripts{

    <script src="~/assets/lib/raphael/raphael-min.js" type="text/javascript"></script>
    <script src="~/assets/lib/morrisjs/morris.min.js" type="text/javascript"></script>
    <script src="~/assets/js/app-charts-morris.js" type="text/javascript"></script>

    <script src="~/assets/lib/chartjs/Chart.min.js" type="text/javascript"></script>
    <script src="~/assets/lib/countup/countUp.min.js" type="text/javascript"></script>
    <script src="~/assets/js/app-charts.js" type="text/javascript"></script>
    <script src="~/assets/js/app-dashboard.js" type="text/javascript"></script>
    <script src="~/assets/lib/jquery.fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
    <script src="~/assets/js/app-pages-calendar.js" type="text/javascript"></script>
    <script src="~/assets/lib/datepicker/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //initialize the javascript
            App.init();
            App.pageCalendar();
        });
    </script>
   <script>

    Morris.Donut({
    element: 'SampleChart',
    data: [
        {label: "Expenses", value: @ViewBag.Expenses},
        {label: "Income", value: @ViewBag.Incomes}
        @*{label: "Resolved", value: @ViewBag.ResolvedTk}*@
       ],
       colors: [
           '#f3818e',
           '#363636',
          
       ],
});
</script>
}
